<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension
		point="org.eclipse.ui.actionSets">
		<actionSet
			label="Game 5"
			visible="true"
			id="rdo-game5">
		<menu
			label="Plugins"
			id="plugins">
		<separator
			name="game5Separator">
		</separator>
		</menu>
			<action
				label="Game 5"
				class="rdo.game5.Game5Action"
				menubarPath="plugins/game5Separator"
				id="rdo.game5.Game5Action">
			</action>
		</actionSet>
	</extension>
	<extension
		point="org.eclipse.ui.editors">
		<editor
			class="rdo.game5.Game5View"
			id="rdo-game5.Game5View"
			name="Game 5 View"
			extensions="json">
		</editor>
	</extension>
</plugin>
