<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension
		point="org.eclipse.ui.menus">
		<menuContribution
			locationURI="menu:org.eclipse.ui.main.menu?after=additions">
			<menu
				id="rdo.game5.menu"
				label="Plugins">
				<visibleWhen
					checkEnabled="false">
					<with
						variable="ru.bmstu.rk9.rao.ui.handlers.showActions">
						<equals
							value="showActions">
						</equals>
					</with>
				</visibleWhen>
				<command
					commandId="rdo.game5"
					id="rdo.game5"
					label="Game5"
					style="push">
				</command>
			</menu>
		</menuContribution>
	</extension>
	<extension
		point="org.eclipse.ui.commands">
		<command
			description="Run Game5"
			id="rdo.game5"
			name="Game 5">
		</command>
	</extension>
	<extension
		point="org.eclipse.ui.handlers">
		<handler
			class="rdo.game5.Game5Handler"
			commandId="rdo.game5">
		</handler>
	</extension>
	<extension
		point="org.eclipse.ui.editors">
		<editor
			class="rdo.game5.Game5View"
			id="rdo-game5.Game5View"
			name="Game5 View"
			extensions="json">
		</editor>
	</extension>
	<extension
		point="org.eclipse.ui.newWizards">
		<category
			id="ru.bmstu.rk9.rao.wizard"
			name="Rao">
		</category>
		<wizard
			name="Rao Game5 Project"
			class="rdo.game5.Game5Wizard"
			id="rdo.game5.Game5Wizard"
			icon="icons/raox-game5.png"
			category="ru.bmstu.rk9.rao.wizard"
			project="true"
			finalPerspective="ru.bmstu.rk9.rao.ui.perspective">
		</wizard>
	</extension>
</plugin>
