#sidebar-wrapper {
  margin-left: -30%;
  left: 30%;
  width: 30%;
  background: #fff;
  position: fixed;
  height: 101%;
  margin-top: -10px;
  border-right: 1px solid gray;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 100;
}

#page-content-wrapper {
  width: 100%;
  overflow-x: hidden;
}

.sidebar-nav {
  position: absolute;
  margin-left: 10px;
  margin-right: 10px;
}

.page-content {
  margin-left: 31%;
  margin-right: 10px;
}
