#################
## Eclipse
#################

*.pydevproject
.metadata/
.recommenders/
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
*.prefs
!*org.eclipse.core.resources.prefs
local.properties
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath

#################
## xText
#################

ru.bmstu.rk9.rao/model
*.xml_gen

ru.bmstu.rk9.rao/.antlr-generator-*.jar

#############
## Windows detritus
#############

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Mac crap
.DS_Store

#############
## Compiled rao Lib
#############

ru.bmstu.rk9.rao.lib*.jar

#############
## Maven Target Files
#############

ru.bmstu.rk9.rao/target
ru.bmstu.rk9.rao.lib/target
ru.bmstu.rk9.rao.sdk/target
ru.bmstu.rk9.rao.tests/target
ru.bmstu.rk9.rao.ui/target
assembly/target
