<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin
   id="ru.bmstu.rk9.rao.thinclient"
>
   <runtime>
      <library name=".">
         <export
               name="*">
         </export>
      </library>
      <library name="thirdparty/jetty/jetty-http/lib/jetty-http-9.4.0-SNAPSHOT.jar">
         <export
               name="*">
         </export>
      </library>
      <library name="thirdparty/jetty/jetty-io/lib/jetty-io-9.4.0-SNAPSHOT.jar">
         <export
               name="*">
         </export>
      </library>
      <library name="thirdparty/jetty/jetty-server/lib/jetty-server-9.4.0-SNAPSHOT.jar">
         <export
               name="*">
         </export>
      </library>
      <library name="thirdparty/jetty/jetty-util/lib/jetty-util-9.4.0-SNAPSHOT.jar">
         <export
               name="*">
         </export>
      </library>
      <library name="thirdparty/javax-servlet/lib/javax.servlet-api-3.0.1.jar">
         <export
               name="*">
         </export>
      </library>
   </runtime>
   <requires>
   </requires>
</plugin>
