sequence histSeq = new ContinuousHistogram(123456789, 80, #[100 -> 100, 200 -> 20, 300 -> 40]);

type T {
	double d
}

resource r = T.create(0)

event HistTestEvent() {
	r.d = histSeq.next()
	HistTestEvent.plan(currentTime + 5)
}

def init() {
	HistTestEvent.plan(currentTime)
}

def terminateCondition() {
	return currentTime > 100
}
