enum Тип_обработки {токарная, фрезерная}
enum Состояние_станка {свободен, занят}
enum Состояние_детали {ожидает_обработки, обрабатывается, обработана}

type Станок {
	Тип_обработки тип_обработки
	Состояние_станка состояние
}

type Деталь {
	Тип_обработки тип_обработки
	Состояние_детали состояние
	double время_обработки
}

resource деталь_1 = Деталь.create(Тип_обработки.токарная, Состояние_детали.ожидает_обработки, 10)
resource деталь_2 = Деталь.create(Тип_обработки.токарная, Состояние_детали.ожидает_обработки, 20)
resource деталь_3 = Деталь.create(Тип_обработки.фрезерная, Состояние_детали.ожидает_обработки, 40)

resource станок_1 = Станок.create(Тип_обработки.токарная, Состояние_станка.свободен)
resource станок_2 = Станок.create(Тип_обработки.фрезерная, Состояние_станка.свободен)

operation Обработка() {
	relevant деталь = Деталь.all.filter[состояние.equals(Состояние_детали.ожидает_обработки)].minBySafe[время_обработки]
	relevant станок = Станок.all.
		filter[тип_обработки.equals(деталь.тип_обработки) && состояние.equals(Состояние_станка.свободен)].any

	set duration() {
		return деталь.время_обработки
	}

	set begin() {
		деталь.состояние = Состояние_детали.обрабатывается
		станок.состояние = Состояние_станка.занят
	}

	set end() {
		деталь.состояние = Состояние_детали.обработана
		станок.состояние = Состояние_станка.свободен
	}
}

set terminateCondition() {
	return Деталь.all.filter[!состояние.equals(Состояние_детали.обработана)].empty
}

logic L {
	activity a = new Activity(Обработка.create())
}
