<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

    <extension
            point="org.eclipse.ui.editors">
        <editor
            class="ru.bmstu.rk9.rdo.ui.RDOExecutableExtensionFactory:org.eclipse.xtext.ui.editor.XtextEditor"
            contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
            default="true"
            extensions="rdo"
            id="ru.bmstu.rk9.rdo.RDO"
            name="RDO Editor">
        </editor>
    </extension>
    <extension
        point="org.eclipse.ui.handlers">
        <handler
            class="ru.bmstu.rk9.rdo.ui.RDOExecutableExtensionFactory:org.eclipse.xtext.ui.editor.hyperlinking.OpenDeclarationHandler"
            commandId="org.eclipse.xtext.ui.editor.hyperlinking.OpenDeclaration">
            <activeWhen>
                <reference
                    definitionId="ru.bmstu.rk9.rdo.RDO.Editor.opened">
                </reference>
            </activeWhen>
        </handler>
        <handler
            class="ru.bmstu.rk9.rdo.ui.RDOExecutableExtensionFactory:org.eclipse.xtext.ui.editor.handler.ValidateActionHandler"
            commandId="ru.bmstu.rk9.rdo.RDO.validate">
         <activeWhen>
            <reference
                    definitionId="ru.bmstu.rk9.rdo.RDO.Editor.opened">
            </reference>
         </activeWhen>
      	</handler>
      	<!-- copy qualified name -->
        <handler
            class="ru.bmstu.rk9.rdo.ui.RDOExecutableExtensionFactory:org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedNameHandler"
            commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedName">
            <activeWhen>
				<reference definitionId="ru.bmstu.rk9.rdo.RDO.Editor.opened" />
            </activeWhen>
        </handler>
        <handler
            class="ru.bmstu.rk9.rdo.ui.RDOExecutableExtensionFactory:org.eclipse.xtext.ui.editor.copyqualifiedname.OutlineCopyQualifiedNameHandler"
            commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.OutlineCopyQualifiedName">
            <activeWhen>
            	<and>
            		<reference definitionId="ru.bmstu.rk9.rdo.RDO.XtextEditor.opened" />
	                <iterate>
						<adapt type="org.eclipse.xtext.ui.editor.outline.IOutlineNode" />
					</iterate>
				</and>
            </activeWhen>
        </handler>
    </extension>
    <extension point="org.eclipse.core.expressions.definitions">
        <definition id="ru.bmstu.rk9.rdo.RDO.Editor.opened">
            <and>
                <reference definitionId="isActiveEditorAnInstanceOfXtextEditor"/>
                <with variable="activeEditor">
                    <test property="org.eclipse.xtext.ui.editor.XtextEditor.languageName" 
                        value="ru.bmstu.rk9.rdo.RDO" 
                        forcePluginActivation="true"/>
                </with>        
            </and>
        </definition>
        <definition id="ru.bmstu.rk9.rdo.RDO.XtextEditor.opened">
            <and>
                <reference definitionId="isXtextEditorActive"/>
                <with variable="activeEditor">
                    <test property="org.eclipse.xtext.ui.editor.XtextEditor.languageName" 
                        value="ru.bmstu.rk9.rdo.RDO" 
                        forcePluginActivation="true"/>
                </with>        
            </and>
        </definition>
    </extension>
    <extension
            point="org.eclipse.ui.preferencePages">
        <page
            class="ru.bmstu.rk9.rdo.ui.RDOExecutableExtensionFactory:org.eclipse.xtext.ui.editor.preferences.LanguageRootPreferencePage"
            id="ru.bmstu.rk9.rdo.RDO"
            name="RDO">
            <keywordReference id="ru.bmstu.rk9.rdo.ui.keyword_RDO"/>
        </page>
        <page
            category="ru.bmstu.rk9.rdo.RDO"
            class="ru.bmstu.rk9.rdo.ui.RDOExecutableExtensionFactory:org.eclipse.xtext.ui.editor.syntaxcoloring.SyntaxColoringPreferencePage"
            id="ru.bmstu.rk9.rdo.RDO.coloring"
            name="Syntax Coloring">
            <keywordReference id="ru.bmstu.rk9.rdo.ui.keyword_RDO"/>
        </page>
        <page
            category="ru.bmstu.rk9.rdo.RDO"
            class="ru.bmstu.rk9.rdo.ui.RDOExecutableExtensionFactory:org.eclipse.xtext.ui.editor.templates.XtextTemplatePreferencePage"
            id="ru.bmstu.rk9.rdo.RDO.templates"
            name="Templates">
            <keywordReference id="ru.bmstu.rk9.rdo.ui.keyword_RDO"/>
        </page>
    </extension>
    <extension
            point="org.eclipse.ui.propertyPages">
        <page
            class="ru.bmstu.rk9.rdo.ui.RDOExecutableExtensionFactory:org.eclipse.xtext.ui.editor.preferences.LanguageRootPreferencePage"
            id="ru.bmstu.rk9.rdo.RDO"
            name="RDO">
            <keywordReference id="ru.bmstu.rk9.rdo.ui.keyword_RDO"/>
            <enabledWhen>
	            <adapt type="org.eclipse.core.resources.IProject"/>
			</enabledWhen>
	        <filter name="projectNature" value="org.eclipse.xtext.ui.shared.xtextNature"/>
        </page>
    </extension>
    <extension
        point="org.eclipse.ui.keywords">
        <keyword
            id="ru.bmstu.rk9.rdo.ui.keyword_RDO"
            label="RDO"/>
    </extension>
    <extension
         point="org.eclipse.ui.commands">
      <command
            description="Trigger expensive validation"
            id="ru.bmstu.rk9.rdo.RDO.validate"
            name="Validate">
      </command>
      <!-- copy qualified name -->
      <command
            id="org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedName"
            categoryId="org.eclipse.ui.category.edit"
            description="Copy the qualified name for the selected element"
            name="Copy Qualified Name">
      </command>
      <command
            id="org.eclipse.xtext.ui.editor.copyqualifiedname.OutlineCopyQualifiedName"
            categoryId="org.eclipse.ui.category.edit"
            description="Copy the qualified name for the selected element"
            name="Copy Qualified Name">
      </command>
    </extension>
    <extension point="org.eclipse.ui.menus">
        <menuContribution
            locationURI="popup:#TextEditorContext?after=group.edit">
             <command
                 commandId="ru.bmstu.rk9.rdo.RDO.validate"
                 style="push"
                 tooltip="Trigger expensive validation">
            <visibleWhen checkEnabled="false">
                <reference
                    definitionId="ru.bmstu.rk9.rdo.RDO.Editor.opened">
                </reference>
            </visibleWhen>
         </command>  
         </menuContribution>
         <!-- copy qualified name -->
         <menuContribution locationURI="popup:#TextEditorContext?after=copy">
         	<command commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedName" 
         		style="push" tooltip="Copy Qualified Name">
            	<visibleWhen checkEnabled="false">
                	<reference definitionId="ru.bmstu.rk9.rdo.RDO.Editor.opened" />
            	</visibleWhen>
         	</command>  
         </menuContribution>
         <menuContribution locationURI="menu:edit?after=copy">
         	<command commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedName"
            	style="push" tooltip="Copy Qualified Name">
            	<visibleWhen checkEnabled="false">
                	<reference definitionId="ru.bmstu.rk9.rdo.RDO.Editor.opened" />
            	</visibleWhen>
         	</command>  
         </menuContribution>
         <menuContribution locationURI="popup:org.eclipse.xtext.ui.outline?after=additions">
			<command commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.OutlineCopyQualifiedName" 
				style="push" tooltip="Copy Qualified Name">
         		<visibleWhen checkEnabled="false">
	            	<and>
	            		<reference definitionId="ru.bmstu.rk9.rdo.RDO.XtextEditor.opened" />
						<iterate>
							<adapt type="org.eclipse.xtext.ui.editor.outline.IOutlineNode" />
						</iterate>
					</and>
				</visibleWhen>
			</command>
         </menuContribution>
    </extension>
    <extension point="org.eclipse.ui.menus">
		<menuContribution locationURI="popup:#TextEditorContext?endof=group.find">
			<command commandId="org.eclipse.xtext.ui.editor.FindReferences">
				<visibleWhen checkEnabled="false">
                	<reference definitionId="ru.bmstu.rk9.rdo.RDO.Editor.opened">
                	</reference>
            	</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	<extension point="org.eclipse.ui.handlers">
	    <handler
            class="ru.bmstu.rk9.rdo.ui.RDOExecutableExtensionFactory:org.eclipse.xtext.ui.editor.findrefs.FindReferencesHandler"
            commandId="org.eclipse.xtext.ui.editor.FindReferences">
            <activeWhen>
                <reference
                    definitionId="ru.bmstu.rk9.rdo.RDO.Editor.opened">
                </reference>
            </activeWhen>
        </handler>
    </extension>   

<!-- adding resource factories -->

	<extension
		point="org.eclipse.emf.ecore.extension_parser">
		<parser
			class="ru.bmstu.rk9.rdo.ui.RDOExecutableExtensionFactory:org.eclipse.xtext.resource.IResourceFactory"
			type="rdo">
		</parser>
	</extension>
	<extension point="org.eclipse.xtext.extension_resourceServiceProvider">
        <resourceServiceProvider
            class="ru.bmstu.rk9.rdo.ui.RDOExecutableExtensionFactory:org.eclipse.xtext.ui.resource.IResourceUIServiceProvider"
            uriExtension="rdo">
        </resourceServiceProvider>
    </extension>


	<!-- marker definitions for ru.bmstu.rk9.rdo.RDO -->
	<extension
	        id="rdo.check.fast"
	        name="RDO Problem"
	        point="org.eclipse.core.resources.markers">
	    <super type="org.eclipse.xtext.ui.check.fast"/>
	    <persistent value="true"/>
	</extension>
	<extension
	        id="rdo.check.normal"
	        name="RDO Problem"
	        point="org.eclipse.core.resources.markers">
	    <super type="org.eclipse.xtext.ui.check.normal"/>
	    <persistent value="true"/>
	</extension>
	<extension
	        id="rdo.check.expensive"
	        name="RDO Problem"
	        point="org.eclipse.core.resources.markers">
	    <super type="org.eclipse.xtext.ui.check.expensive"/>
	    <persistent value="true"/>
	</extension>

   <extension
            point="org.eclipse.ui.preferencePages">
        <page
            category="ru.bmstu.rk9.rdo.RDO"
            class="ru.bmstu.rk9.rdo.ui.RDOExecutableExtensionFactory:org.eclipse.xtext.builder.preferences.BuilderPreferencePage"
            id="ru.bmstu.rk9.rdo.RDO.compiler.preferencePage"
            name="Compiler">
            <keywordReference id="ru.bmstu.rk9.rdo.ui.keyword_RDO"/>
        </page>
    </extension>
    <extension
            point="org.eclipse.ui.propertyPages">
        <page
            category="ru.bmstu.rk9.rdo.RDO"
            class="ru.bmstu.rk9.rdo.ui.RDOExecutableExtensionFactory:org.eclipse.xtext.builder.preferences.BuilderPreferencePage"
            id="ru.bmstu.rk9.rdo.RDO.compiler.propertyPage"
            name="Compiler">
            <keywordReference id="ru.bmstu.rk9.rdo.ui.keyword_RDO"/>
            <enabledWhen>
	            <adapt type="org.eclipse.core.resources.IProject"/>
			</enabledWhen>
	        <filter name="projectNature" value="org.eclipse.xtext.ui.shared.xtextNature"/>
        </page>
    </extension>

	<!-- Quick Outline -->
	<extension
		point="org.eclipse.ui.handlers">
		<handler 
			class="ru.bmstu.rk9.rdo.ui.RDOExecutableExtensionFactory:org.eclipse.xtext.ui.editor.outline.quickoutline.ShowQuickOutlineActionHandler"
			commandId="org.eclipse.xtext.ui.editor.outline.QuickOutline">
			<activeWhen>
				<reference
					definitionId="ru.bmstu.rk9.rdo.RDO.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
	</extension>
	<extension
		point="org.eclipse.ui.commands">
		<command
			description="Open the quick outline."
			id="org.eclipse.xtext.ui.editor.outline.QuickOutline"
			name="Quick Outline">
		</command>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution
			locationURI="popup:#TextEditorContext?after=group.open">
			<command commandId="org.eclipse.xtext.ui.editor.outline.QuickOutline"
				style="push"
				tooltip="Open Quick Outline">
				<visibleWhen checkEnabled="false">
					<reference definitionId="ru.bmstu.rk9.rdo.RDO.Editor.opened"/>
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>
    <!-- quickfix marker resolution generator for ru.bmstu.rk9.rdo.RDO -->
    <extension
            point="org.eclipse.ui.ide.markerResolution">
        <markerResolutionGenerator
            class="ru.bmstu.rk9.rdo.ui.RDOExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator"
            markerType="ru.bmstu.rk9.rdo.ui.rdo.check.fast">
            <attribute
                name="FIXABLE_KEY"
                value="true">
            </attribute>
        </markerResolutionGenerator>
        <markerResolutionGenerator
            class="ru.bmstu.rk9.rdo.ui.RDOExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator"
            markerType="ru.bmstu.rk9.rdo.ui.rdo.check.normal">
            <attribute
                name="FIXABLE_KEY"
                value="true">
            </attribute>
        </markerResolutionGenerator>
        <markerResolutionGenerator
            class="ru.bmstu.rk9.rdo.ui.RDOExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator"
            markerType="ru.bmstu.rk9.rdo.ui.rdo.check.expensive">
            <attribute
                name="FIXABLE_KEY"
                value="true">
            </attribute>
        </markerResolutionGenerator>
    </extension>
   	<!-- Rename Refactoring -->
	<extension point="org.eclipse.ui.handlers">
		<handler 
			class="ru.bmstu.rk9.rdo.ui.RDOExecutableExtensionFactory:org.eclipse.xtext.ui.refactoring.ui.DefaultRenameElementHandler"
			commandId="org.eclipse.xtext.ui.refactoring.RenameElement">
			<activeWhen>
				<reference
					definitionId="ru.bmstu.rk9.rdo.RDO.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
	</extension>
    <extension point="org.eclipse.ui.menus">
         <menuContribution
            locationURI="popup:#TextEditorContext?after=group.edit">
         <command commandId="org.eclipse.xtext.ui.refactoring.RenameElement"
               style="push">
            <visibleWhen checkEnabled="false">
               <reference
                     definitionId="ru.bmstu.rk9.rdo.RDO.Editor.opened">
               </reference>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension point="org.eclipse.ui.preferencePages">
	    <page
	        category="ru.bmstu.rk9.rdo.RDO"
	        class="ru.bmstu.rk9.rdo.ui.RDOExecutableExtensionFactory:org.eclipse.xtext.ui.refactoring.ui.RefactoringPreferencePage"
	        id="ru.bmstu.rk9.rdo.RDO.refactoring"
	        name="Refactoring">
	        <keywordReference id="ru.bmstu.rk9.rdo.ui.keyword_RDO"/>
	    </page>
	</extension>

  <extension point="org.eclipse.compare.contentViewers">
    <viewer id="ru.bmstu.rk9.rdo.RDO.compare.contentViewers"
            class="ru.bmstu.rk9.rdo.ui.RDOExecutableExtensionFactory:org.eclipse.xtext.ui.compare.InjectableViewerCreator"
            extensions="rdo">
    </viewer>
  </extension>
  <extension point="org.eclipse.compare.contentMergeViewers">
    <viewer id="ru.bmstu.rk9.rdo.RDO.compare.contentMergeViewers"
            class="ru.bmstu.rk9.rdo.ui.RDOExecutableExtensionFactory:org.eclipse.xtext.ui.compare.InjectableViewerCreator"
            extensions="rdo" label="RDO Compare">
     </viewer>
  </extension>
  <extension point="org.eclipse.ui.editors.documentProviders">
    <provider id="ru.bmstu.rk9.rdo.RDO.editors.documentProviders"
            class="ru.bmstu.rk9.rdo.ui.RDOExecutableExtensionFactory:org.eclipse.xtext.ui.editor.model.XtextDocumentProvider"
            extensions="rdo">
    </provider>
  </extension>
  <extension
        point="org.eclipse.ui.commands">
     <category
           id="ru.bmstu.rk9.rdo.ui.runtime"
           name="RDO runtime UI module">
     </category>
     <command
           categoryId="ru.bmstu.rk9.rdo.ui.runtime"
           id="ru.bmstu.rk9.rdo.ui.runtime.build"
           name="Build RDO model">
     </command>
     <command
           categoryId="ru.bmstu.rk9.rdo.ui.runtime"
           id="ru.bmstu.rk9.rdo.ui.runtime.execute"
           name="Execute RDO model">
     </command>
     <command
           categoryId="ru.bmstu.rk9.rdo.ui.runtime"
           id="ru.bmstu.rk9.rdo.ui.runtime.stop"
           name="Stop RDO Model">
     </command>
     <command
           categoryId="ru.bmstu.rk9.rdo.ui.runtime"
           id="ru.bmstu.rk9.rdo.ui.runtime.noAnimation"
           name="No Animation">
     </command>
     <command
           categoryId="ru.bmstu.rk9.rdo.ui.runtime"
           id="ru.bmstu.rk9.rdo.ui.runtime.fastForward"
           name="Fast Forward">
     </command>
     <command
           categoryId="ru.bmstu.rk9.rdo.ui.runtime"
           id="ru.bmstu.rk9.rdo.ui.runtime.normalSpeed"
           name="Normal Speed">
     </command>
     <command
           categoryId="ru.bmstu.rk9.rdo.ui.runtime"
           id="ru.bmstu.rk9.rdo.ui.runtime.pause"
           name="Pause">
     </command>
  </extension>
  <extension
        point="org.eclipse.ui.handlers">
     <handler
           class="ru.bmstu.rk9.rdo.ui.RDOExecutableExtensionFactory:ru.bmstu.rk9.rdo.ui.runtime.BuildHandler"
           commandId="ru.bmstu.rk9.rdo.ui.runtime.build">
        <enabledWhen>
           <reference
                 definitionId="ru.bmstu.rk9.rdo.RDO.Editor.opened">
           </reference>
        </enabledWhen>
     </handler>
     <handler
           class="ru.bmstu.rk9.rdo.ui.RDOExecutableExtensionFactory:ru.bmstu.rk9.rdo.ui.runtime.ExecutionHandler"
           commandId="ru.bmstu.rk9.rdo.ui.runtime.execute">
        <enabledWhen>
           <and>
              <reference
                    definitionId="ru.bmstu.rk9.rdo.RDO.Editor.opened">
              </reference>
              <with
                    variable="ru.bmstu.rk9.rdo.ui.handlers.simulationRunning">
                 <equals
                       value="STOPPED">
                 </equals>
              </with>
           </and>
        </enabledWhen>
     </handler>
     <handler
           class="ru.bmstu.rk9.rdo.ui.RDOExecutableExtensionFactory:ru.bmstu.rk9.rdo.ui.runtime.StoppingHandler"
           commandId="ru.bmstu.rk9.rdo.ui.runtime.stop">
        <enabledWhen>
           <with
                 variable="ru.bmstu.rk9.rdo.ui.handlers.simulationRunning">
              <equals
                    value="RUNNING">
              </equals>
           </with>
        </enabledWhen>
     </handler>
  </extension>
  <extension
        point="org.eclipse.ui.menus">
     <menuContribution
           locationURI="menu:org.eclipse.ui.main.menu?after=project">
        <menu
              icon="icons/model.gif"
              id="ru.bmstu.rk9.rdo.ui.runtime.modelMenu"
              label="Model"
              mnemonic="M">
           <visibleWhen
                 checkEnabled="false">
              <with
                    variable="ru.bmstu.rk9.rdo.ui.handlers.showActions">
                 <equals
                       value="showActions">
                 </equals>
              </with>
           </visibleWhen>
           <command
                 commandId="ru.bmstu.rk9.rdo.ui.runtime.build"
                 id="ru.bmstu.rk9.rdo.ui.runtime.menu.build"
                 label="Build"
                 mnemonic="B"
                 style="push">
           </command>
           <command
                 commandId="ru.bmstu.rk9.rdo.ui.runtime.execute"
                 icon="icons/rdo_model_run.gif"
                 id="ru.bmstu.rk9.rdo.ui.runtime.menu.execute"
                 label="Run"
                 mnemonic="R"
                 style="push">
           </command>
           <command
                 commandId="ru.bmstu.rk9.rdo.ui.runtime.stop"
                 icon="icons/rdo_stop.gif"
                 id="ru.bmstu.rk9.rdo.ui.runtime.menu.stop"
                 label="Stop"
                 mnemonic="S"
                 style="push">
           </command>
           <separator
                 name="ru.bmstu.rk9.rdo.ui.runtime.menu.separator1">
           </separator>
           <command
                 commandId="ru.bmstu.rk9.rdo.ui.runtime.noAnimation"
                 icon="icons/rdo_noanimation.gif"
                 id="ru.bmstu.rk9.rdo.ui.runtime.menu.noAnimation"
                 label="No Animation"
                 mnemonic="A"
                 style="pulldown">
           </command>
           <command
                 commandId="ru.bmstu.rk9.rdo.ui.runtime.fastForward"
                 icon="icons/rdo_fastforward.gif"
                 id="ru.bmstu.rk9.rdo.ui.runtime.menu.fastForward"
                 label="Fast Forward"
                 mnemonic="F"
                 style="pulldown">
           </command>
           <command
                 commandId="ru.bmstu.rk9.rdo.ui.runtime.normalSpeed"
                 icon="icons/rdo_normalspeed.gif"
                 id="ru.bmstu.rk9.rdo.ui.runtime.menu.normalSpeed"
                 label="Normal Speed"
                 mnemonic="N"
                 style="pulldown">
           </command>
           <command
                 commandId="ru.bmstu.rk9.rdo.ui.runtime.pause"
                 icon="icons/rdo_pause.gif"
                 id="ru.bmstu.rk9.rdo.ui.runtime.menu.pause"
                 label="Pause"
                 mnemonic="P"
                 style="pulldown">
           </command>
        </menu>
     </menuContribution>
     <menuContribution
           allPopups="false"
           locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
        <toolbar
              id="ru.bmstu.rk9.rdo.ui.RDOToolbar"
              label="RDO Toolbar">
           <command
                 commandId="ru.bmstu.rk9.rdo.ui.runtime.execute"
                 icon="icons/rdo_model_run.gif"
                 id="ru.bmstu.rk9.rdo.ui.RDOToolbar.execute"
                 style="push">
              <visibleWhen
                    checkEnabled="false">
                 <with
                       variable="ru.bmstu.rk9.rdo.ui.handlers.showActions">
                    <equals
                          value="showActions">
                    </equals>
                 </with>
              </visibleWhen>
           </command>
           <command
                 commandId="ru.bmstu.rk9.rdo.ui.runtime.stop"
                 icon="icons/rdo_stop.gif"
                 id="ru.bmstu.rk9.rdo.ui.RDOToolbar.stop"
                 style="push">
              <visibleWhen
                    checkEnabled="false">
                 <with
                       variable="ru.bmstu.rk9.rdo.ui.handlers.showActions">
                    <equals
                          value="showActions">
                    </equals>
                 </with>
              </visibleWhen>
           </command>
           <control
                 class="ru.bmstu.rk9.rdo.ui.contributions.RDOToolbarSeparator">
              <visibleWhen
                    checkEnabled="false">
                 <with
                       variable="ru.bmstu.rk9.rdo.ui.handlers.showActions">
                    <equals
                          value="showActions">
                    </equals>
                 </with>
              </visibleWhen>
           </control>
           <command
                 commandId="ru.bmstu.rk9.rdo.ui.runtime.noAnimation"
                 icon="icons/rdo_noanimation.gif"
                 id="ru.bmstu.rk9.rdo.ui.RDOToolbar.noAnimation"
                 style="push">
              <visibleWhen
                    checkEnabled="false">
                 <with
                       variable="ru.bmstu.rk9.rdo.ui.handlers.showActions">
                    <equals
                          value="showActions">
                    </equals>
                 </with>
              </visibleWhen>
           </command>
           <command
                 commandId="ru.bmstu.rk9.rdo.ui.runtime.fastForward"
                 icon="icons/rdo_fastforward.gif"
                 id="ru.bmstu.rk9.rdo.ui.RDOToolbar.fastForward"
                 style="push">
              <visibleWhen
                    checkEnabled="false">
                 <with
                       variable="ru.bmstu.rk9.rdo.ui.handlers.showActions">
                    <equals
                          value="showActions">
                    </equals>
                 </with>
              </visibleWhen>
           </command>
           <command
                 commandId="ru.bmstu.rk9.rdo.ui.runtime.normalSpeed"
                 icon="icons/rdo_normalspeed.gif"
                 id="ru.bmstu.rk9.rdo.ui.RDOToolbar.normalSpeed"
                 style="push">
              <visibleWhen
                    checkEnabled="false">
                 <with
                       variable="ru.bmstu.rk9.rdo.ui.handlers.showActions">
                    <equals
                          value="showActions">
                    </equals>
                 </with>
              </visibleWhen>
           </command>
           <command
                 commandId="ru.bmstu.rk9.rdo.ui.runtime.pause"
                 icon="icons/rdo_pause.gif"
                 id="ru.bmstu.rk9.rdo.ui.RDOToolbar.pause"
                 style="push">
              <visibleWhen
                    checkEnabled="false">
                 <with
                       variable="ru.bmstu.rk9.rdo.ui.handlers.showActions">
                    <equals
                          value="showActions">
                    </equals>
                 </with>
              </visibleWhen>
           </command>
           <control
                 class="ru.bmstu.rk9.rdo.ui.contributions.RDOToolbarSeparator">
              <visibleWhen
                    checkEnabled="false">
                 <with
                       variable="ru.bmstu.rk9.rdo.ui.handlers.showActions">
                    <equals
                          value="showActions">
                    </equals>
                 </with>
              </visibleWhen>
           </control>
           <control
                 class="ru.bmstu.rk9.rdo.ui.contributions.RDOToolbarContribution">
              <visibleWhen
                    checkEnabled="false">
                 <with
                       variable="ru.bmstu.rk9.rdo.ui.handlers.showActions">
                    <equals
                          value="showActions">
                    </equals>
                 </with>
              </visibleWhen>
           </control>
        </toolbar>
     </menuContribution>
  </extension>
  <extension
        point="org.eclipse.ui.perspectives">
     <perspective
           class="ru.bmstu.rk9.rdo.ui.RDOPerspective"
           icon="icons/rdo_old.gif"
           id="ru.bmstu.rk9.rdo.ui.perspective"
           name="RDO">
     </perspective>
  </extension>
  <extension
        point="org.eclipse.ui.services">
     <sourceProvider
           provider="ru.bmstu.rk9.rdo.ui.RDOPerspectiveSourceProvider">
        <variable
              name="ru.bmstu.rk9.rdo.ui.handlers.showActions"
              priorityLevel="workbench">
        </variable>
     </sourceProvider>
     <sourceProvider
           provider="ru.bmstu.rk9.rdo.ui.runtime.ModelExecutionSourceProvider">
        <variable
              name="ru.bmstu.rk9.rdo.ui.handlers.simulationRunning"
              priorityLevel="workbench">
        </variable>
     </sourceProvider>
  </extension>
  <extension
        point="org.eclipse.ui.views">
     <category
           id="ru.bmstu.rk9.rdo.ui.views"
           name="RDO">
     </category>
     <view
           category="ru.bmstu.rk9.rdo.ui.views"
           class="ru.bmstu.rk9.rdo.ui.contributions.RDOConsoleView"
           icon="icons/rdo_old.gif"
           id="ru.bmstu.rk9.rdo.ui.RDOConsoleView"
           name="RDO Console"
           restorable="true">
     </view>
     <view
           category="ru.bmstu.rk9.rdo.ui.views"
           class="ru.bmstu.rk9.rdo.ui.contributions.RDOTraceView"
           icon="icons/tag.gif"
           id="ru.bmstu.rk9.rdo.ui.RDOTraceView"
           name="RDO Trace"
           restorable="true">
     </view>
  </extension>

</plugin>
