type T {
	double d
}

resource r = T.create(0);

sequence triangular = new Triangular(123456789, 70, 130, 100)

event E() {
	r.d = triangular.next()
	E.plan(currentTime + 5)
}

def init() {
	E.plan(currentTime)
}

def terminateCondition() {
	return currentTime > 100
}
